<div class="slider_wrapper">
      <div class="slider_center">
            <div class="slider_container">
                  <h5>Slider</h5>
                  <div class="crestron_slider_container">
                        <slider [name]="'sliderSimple'"
                              [initValue]="'30'"
                              [min]="20"
                              [step]="15"
                              [tick]="10">
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Ranged Slider with Step</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="'true'"
                              [name]="'rangedSlider'"
                              [initValue]="'20'"
                              [initValuePair]="'30 60'"
                              [min]="20"
                              [step]="15">
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Simple Slider with Icon</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sliderIconLeft'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'">
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Ranged Slider with Icon</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="true"
                              [name]="'rangedSliderIconLeft'"
                              [min]="20"
                              [max]="200"
                              [initValuePair]="'20 80'"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'">
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Circle Handler</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'handleCircle'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              >
                        </slider>
                  </div>
            </div>
            <div class="slider_container">
                  <h5>Rectangle Handler</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'handleRectangle'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [handleShape]="'rectangle'">
                        </slider>
                  </div>
            </div>
            
            <div class="slider_container">
                  <h5>Rounded Rectangle Handler</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'handleRoundedRectangle'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [handleShape]="'rounded-rectangle'">
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Oval Handler</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'handleOval'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [handleShape]="'oval'">
                        </slider>
                  </div>
            </div>
            
            <div class="slider_container">
                  <h5>No Handler</h5>
                        <div class="crestron_slider_container">
                              <slider [isRange]="false"
                                    [name]="'handleNone'"
                                    [initValue]="'30'"
                                    [min]="20"
                                    [minIcon]="'fa fa-minus'"
                                    [maxIcon]="'fa fa-plus'"
                                    [handleShape]="'none'">
                              </slider>
                        </div>
            </div>

            <div class="slider_container">
                  <h5>X-Small Size</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sizeXSmall'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [size]="'size-x-small'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Small Size</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sizeSmall'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [size]="'size-small'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Regular Size</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sizeRegular'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [size]="'size-regular'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Large Size</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sizeLarge'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [size]="'size-large'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>X-Large Size</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sizeXLarge'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [size]="'size-x-large'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Stretch Slider Width</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sliderStretchWidth'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [stretch]="'width'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Stretch Slider Height</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sliderStretchHeight'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [stretch]="'height'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Stretch Slider Width and Height</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sliderStretchBoth'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [stretch]="'both'"
                              >
                        </slider>
                  </div>
            </div>

            <div class="slider_container">
                  <h5>Vertical Slider</h5>
                  <div class="crestron_slider_container">
                        <slider [isRange]="false"
                              [name]="'sliderVertical'"
                              [initValue]="'30'"
                              [min]="20"
                              [minIcon]="'fa fa-minus'"
                              [maxIcon]="'fa fa-plus'"
                              [orientation]="'vertical'"
                              >
                        </slider>
                  </div>
            </div>
      </div>
</div>