<div class="container">
    <div class="components">
        <div class="custom_addon_left">
            <div class="btn_addon">
                <i class="{{minIcon}}" aria-hidden="true"></i>
            </div>
        </div>
        <div class="slider_container">
            <div class="slider_controller">
            </div>
        </div>
        <div class="custom_addon_right">
            <div class="btn_addon">
                <i class="{{maxIcon}}" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>