/* You can add global styles to this file, and also import other style files */
body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
}

.tap label {
    color: red;
}

.press label {
    color: yellow;
}

.focus label {
    font-size: 1.2em;
}