<list-component name="myList"
                load_type="scroll"
                page_size="30"
                loading_indicator="true"
                header="Slider List"
                min_width="300"
                max_width="400"
                min_height="800"
                max_height="1000">
</list-component>
<list-component name="myList2"
                load_type="pagination"
                page_size="30"
                loading_indicator="true"
                header="Mixed List"
                min_width="300"
                max_width="400"
                min_height="800"
                max_height="1000">
</list-component>
