<div id="{{name}}" class="slider_default {{stretch}} {{class}} {{orientation}} {{size}}">
    <div class="custom_addon_{{icon_display_left}}">
            <div class="btn_addon_left">
                <i class=" custom_icon_color {{minIcon}} {{rotate_icon}}"></i>
            </div>
    </div>

    <div class="custom_{{slider_display}}">
        <table *ngIf="isTick" class="tickmarks">
            <tr><td *ngFor='let grad of gradiant' class="text-center"><i class="fa fa-circle"></i></td></tr>
        </table>
        <input id="{{uniqueID}}"
            class="common {{handleShape}} {{singleRange}}" 
            type="range"
            attr.valuePair={{initValuePair}}
            min="{{min}}" 
            max="{{max}}" 
            step="{{step}}"
            attr.list="{{tickmarks}}"
            [(attr.valueLow)]="valueLow"
            [(attr.valueHigh)]="valueHigh"
            (input)="update()">
        <input *ngIf="isRange"
            id="{{uniqueID}}_ghost"
            class="common {{handleShape}}" 
            type="range" 
            attr.valuePair={{initValuePair}}
            min="{{min}}" 
            max="{{max}}" 
            step="{{step}}"
            attr.list="{{tickmarks}}"
            [(attr.valueLow)]="valueLow"
            [(attr.valueHigh)]="valueHigh"
            (input)="update()">
    </div>

    <div class="custom_addon_{{icon_display_right}}">
            <div class="btn_addon_right">
                <i class="custom_icon_color {{maxIcon}} {{rotate_icon}}"></i>
            </div>
    </div>
</div>