
<div class="crestron_container">
      <div class="crestron_container">
        <btn  [name]="'Button'" 
              [label]="'Title'"
              [class]="'MyClass'"
              [size]="'size-large'"
              [icon]="'fa fa-plus'"
              [icon_align]="'left'">
        </btn>
      </div>
      <br>
      <slider [isRange]="true"
                [initValuePair]="'20 90'"
                [initValue]="'20'"
                [handleShape]="'rectangle'"
                [minIcon]="'fa fa-plus'"
                [maxIcon]="'fa fa-plus'"
                [min]="10"
                [max]="200"
                [step]="1"
                [tick]="10">
      </slider>     
</div>

