$primary-color: #3d4f5d;
$primary-text: #fff;
$dark-text:#015601;
$secondary-text: #2c3e50;
$accent-color: #5b8796;
$border-color: rgb(209, 218, 223);
$semi-transparent: rgba(242, 242, 246, 0.98);
$hover-color: rgba(232, 232, 232, 0.29);

:host {
  display: block;
  border-bottom: 1px solid $border-color;
  background: white;
  font-size: 1em;
  padding: 20px;
  height: 100px;
  line-height: 1.2em;
  overflow: hidden;
}

.avatar {
  float: left;
}

.item-content {
  display: inline-block;
  float: left;
  padding: 5px;
  vertical-align: middle;
  div {
    opacity: .6;
  }
  .name {
    display: inline-block;
    font-weight: bold;
    opacity: 1;
  }
  .badge {
    opacity: 1;
    font-family: Lato, sans-serif;
  }
  span{
    float: left;
    width: 100%;
    padding-left: 40px;
  }
  span:first-child{
    font-size: 18px;
  }
  span:nth-child(2){
    font-size: 20px;
    padding-top: 20px;
  }
}
