<div class="button_wrapper">
      <div class="button_container">
            <h5>Rectangle Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonRectangle" 
                        label="Button"
                        class="common_btn_style"
                        shape="rectangular"
                        >
                  </btn>
                  <btn-controller name="buttonRectangle" 
                                  onPress="114"  
                                  onRelease="112"
                                  runClass="180"
                                  runPressed="180"
                                  ></btn-controller>
            </div>
      </div>

      <div class="button_container">
            <h5>Rounded Rectangle Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonRoundedRectangle" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Tab Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonTab" 
                        label="Button"
                        class="common_btn_style"
                        shape="tab"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Circle Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonCircle" 
                        label="Button"
                        class="common_btn_style"
                        shape="circle"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Oval Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonOval" 
                        label="Button"
                        class="common_btn_style"
                        shape="oval"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Button with Icon</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonIconRight" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        icon_align="right"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Button with Icon</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonIconLeft" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        icon_align="left"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Primary Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonPrimary" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="primary"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Secondary Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonSecondary" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="secondary"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Info Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonInfo" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="info"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Warning Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonWarning" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="warning"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Danger Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonDanger" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="danger"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Success Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonSuccess" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="success"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Text Button Type</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonText" 
                        label="Button"
                        class="common_btn_style"
                        shape="rounded-rectangle"
                        type="text"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Vertical Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonVertical" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-minus"
                        orientation="vertical"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>X-Small Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonXSmall" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        size="x-small"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Small Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonSmall" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        size="small"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Large Button</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonLarge" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        size="large"
                        >
                  </btn>
            </div>
      </div>

      <div class="button_container">
            <h5>Stretch Button Width</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonStretchWidth" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        stretch="width"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Stretch Button Height</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonStretchHeight" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        stretch="height"
                        >
                  </btn>
            </div>
      </div>
      <div class="button_container">
            <h5>Stretch Button Width and Height</h5>
            <div class="crestron_button_container">
                  <btn  name="buttonStretchBoth" 
                        label="Button"
                        class="common_btn_style"
                        icon="fa fa-plus"
                        stretch="both"
                        >
                  </btn>
            </div>
      </div>
</div>
