 /* Slider Container */
  .slider_container {
    position: relative;
    height: 50px;
    border: .5px solid #8e8e91;
    background-color: #9a9a9e;
    border-radius: 5px;
    padding: 0px;
  }

/* Slider Components */
  .custom_range {
    position: absolute;
    width: 70%;
    float:left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .custom_addon_left {
      width: 12%;
      float:left;
  }

  .custom_addon_right {
      width: 12%;
      float:right;
  }

/* Slider Custom Style*/
.custom_range input { 
    -webkit-appearance: none;
    background-color: #f0fff0;
    outline: none;
    height: 5px;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px #ddd;
}

.custom_range input.common::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #999; 
}

.rectangle::-webkit-slider-thumb {
    width: 12px;
    height: 20px;
}

.rounded-rectangle::-webkit-slider-thumb {
    width: 12px;
    height: 20px;
    border-radius: 3px;
}

.circle::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.oval::-webkit-slider-thumb {
    width: 24px;
	height: 15px;
	-moz-border-radius: 12px / 6px;
	-webkit-border-radius: 12px / 6px;
	border-radius: 12px / 6px;
}

.none::-webkit-slider-thumb {
    display: none;
}

/* Slider Size */
.size-x-small {
    width: 200px;
}

.size-small {
    width: 250px;
}

.size-regular {
    width: 300px;
}

.size-large {
    width: 350px;
}

.size-x-large {
    width: 400px;
}
/* Slider Orientation */
 .vertical {
     transform: rotate(90deg);
 }

/* Icons Style */
  .custom_icon_color {
      color: #f0fff0;
  }

  .custom_icon_color:hover {
      color: #d6dbd6;
  }


