<div id="{{name}}" class="slider_default {{stretch}} {{class}} {{orientation}} {{size}}">
    <div class="custom_addon_{{icon_display_left}}">
            <div class="btn_addon_left">
                <i class="custom_icon_color {{minIcon}} {{rotate_icon}}"></i>
            </div>
    </div>

    <div *ngIf="isRange; then withRange else withoutRange"></div>

    <ng-template #withRange>
        <div class="custom_{{slider_display}}">
            <input id="{{uniqueID}}"
                class="common {{handleShape}}" 
                type="range"
                attr.valuePair={{initValuePair}}
                min="{{min}}" 
                max="{{max}}" 
                step="{{step}}"
                attr.list="{{tickmarks}}"
                [(attr.valueLow)]="valueLow"
                [(attr.valueHigh)]="valueHigh"
                (input)="updateRange()">
            <input id="{{uniqueID}}_ghost"
                class="common {{handleShape}}" 
                type="range" 
                attr.valuePair={{initValuePair}}
                min="{{min}}" 
                max="{{max}}" 
                step="{{step}}"
                attr.list="{{tickmarks}}"
                [(attr.valueLow)]="valueLow"
                [(attr.valueHigh)]="valueHigh"
                (input)="updateRange()">
        </div>
    </ng-template>
    <ng-template #withoutRange>
        <div class="custom_{{slider_display}}">
            <input id="{{uniqueID}}"
                class="singlerange common {{handleShape}}" 
                type="range" 
                value="{{initValue}}"
                min="{{min}}" 
                max="{{max}}" 
                step="{{step}}"
                attr.list="{{tickmarks}}"
                [(attr.singleValue)]="singleValue"
                (input)="updateSingleRange()">
        </div>
    </ng-template>

    <div class="custom_addon_{{icon_display_right}}">
            <div class="btn_addon_right">
                <i class="custom_icon_color {{maxIcon}} {{rotate_icon}}"></i>
            </div>
    </div>
</div>