.btn_container{
    height: 100%;
}

/* Button icon align */
.custom_btn_left {
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}

.custom_btn_right{
    position: relative;
    width: 70%;
    height: 100%;
    float: right;
}

.custom_btn_default {
    position: relative;
    width: 100%;
    height: 100%;
}

.custom_addon_left {
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
}

.custom_addon_right {
    position: relative;
    width: 30%;
    height: 100%;
    float: right;
}

.custom_addon_display_none {
    display: none;
}

/* Align button container elements */
.btn_label, .btn_addon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Button container on hover */
.btn_container:hover{
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0,0,0,.4);
}

/* Button container shapes */
.rectangle {
   border-radius: 0px;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
}

.rounded-rectangle {  
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.oval {
    border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.tab { 
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

/* Button font sizes */
.size-x-small {
  font-size: x-small; 
  height: 50px;}

.size-small {
  font-size: small;
  height: 60px; }

.size-regular {
  font-size: medium; 
  height: 80px;}

.size-large {
  font-size: large;
  height: 90px; }

.size-x-large {
  font-size: x-large;
  height: 100px; }

/* Button stretch */

.stretch_width{
    width: inherit;
    height: 80px;
}

.stretch_height{
    height: inherit;
    width: 80px;
}

.stretch_both{
    width: inherit;
    height: inherit;
}

/* Button types */
.text {
    background-color: #f0fff0;
    color: #426d9c; 
}

.text:hover{
    color:#f0fff0;
}

.danger {
    border: .5px solid #c12d2d;
    background-color: #dd3333;
    color: #f0fff0;  
}

.danger:hover{
    background-color: #db4c4c;
    color: #f0fff0; 
}

.warning {
    border: .5px solid #e77312;
    background-color: #ec842f;
    color: #f0fff0; 
}

.warning:hover {
    background-color: #e29453;
    color: #f0fff0; 
}

.info {
    border: .5px solid #588ed3;
    background-color: #588ed3;
    color: #f0fff0;
}

.info:hover {
    background-color: #7aa5db;
    color: #f0fff0;
}

.success {
    border: .5px solid #508b17;
    background-color: #3ca543;
    color:#f0fff0;
}

.success:hover {
    background-color: #5bad61;
    color: #f0fff0;
}

.primary {
    border: .5px solid #8e8e91;
    background-color: #9a9a9e;
    color: #f0fff0;
}

.primary:hover {
    background-color: #aeaeb2;
    color:#f0fff0;
}

.secondary {
    border: .5px solid #4e4e7c;
    background-color: #68688d;
    color: #f0fff0;
}

.secondary:hover {
    background-color: #77778e;
    color: #f0fff0;
}

/* Button orientation */
 .vertical {
     transform: rotate(90deg);
 }