.container {
  position: relative;
  height: 50px;
  width: 250px;
  border: .5px solid #8e8e91;
  background-color: #9a9a9e;
  border-radius: 5px;
  margin: 0px;
  /*can be removed*/
  margin-left: 100px;
  margin-top: 10px; }

.components {
  position: absolute;
  width: 90%;
  height: 40%; }

.slider_container {
  position: relative;
  width: 80%;
  height: 40%;
  background-color: #f0fff0;
  border-radius: 5px;
  float: left; }

.custom_addon_right {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: red; }

.custom_addon_left {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: blue;
  float: right; }
